[submodule "vendor/DynacaseBuildTools"]
	path = vendor/DynacaseBuildTools
	url = git@github.com:Anakeen/dynacase-buildtools.git
[submodule "vendor/mustache"]
	path = vendor/mustache
	url = git@github.com:bobthecow/mustache.php.git
[submodule "vendor/optionparser"]
	path = vendor/optionparser
	url = git@github.com:mjackson/optionparser.git
[submodule "vendor/getoptionkit"]
	path = vendor/getoptionkit
	url = git@github.com:c9s/GetOptionKit.git
[submodule "vendor/getopt-php"]
	path = vendor/getopt-php
	url = git@github.com:ulrichsg/getopt-php.git
