array(
    "name" => "{{{name}}}",
    "short_name" => N_("{{# i18n}}{{{i18n}}}:{{/ i18n}}{{{name}}}"),
    {{# layout}}
    "layout" => "{{{layoutFileName}}}",
    {{/ layout}}
    {{# script}}
    "script" => "action.{{{script_name}}}.php",
    "function" => "{{{script_name}}}",
    {{/ script}}
    {{# root}}
    "root" => "Y",
    {{/ root}}
    {{# acl}}
    "acl" => "{{{acl}}}"
    {{/ acl}}
)