{
    "moduleName" : "{{{name}}}",
    "version" : "{{{version}}}",
    "release" : "{{{release}}}",
    "application" : {{{applicationPath}}},
    "includedPath" : {{{includedPath}}},
    "lang" : {{{buildLang}}},
    "csvParam" : {"enclosure" : "{{{enclosure}}}", "delimiter": "{{{delimiter}}}"},
    "dynacase-devtool" : {
            "uri" : "{{{devtool.uri}}}",
            "tag" : "{{{devtool.tag}}}"
    }
}
