{
    "moduleName" : "{{{name}}}",
    "version" : "{{{version}}}",
    "release" : "{{{release}}}",
    "application" : {{{applicationPath}}},
    "includedPath" : {{{includedPath}}},
    "lang" : {{{buildLang}}},
    "toolsPath" : { "getttext" : "{{{gettextpath}}}"},
    "csvParam" : {"enclosure" : "{{{enclosure}}}", "delimiter": "{{{delimiter}}}"}
}
