<process command='./wsh.php --api=importDocuments --file={{{application}}}/{{{name}}}__STRUCT.csv --csv-separator=&apos;{{delimiter}}&apos; {{#enclosure}}--csv-enclosure=&apos;{{enclosure}}&apos;{{/enclosure}}'/>
<process command='./wsh.php --api=importDocuments --file={{{application}}}/{{{name}}}__PARAM.csv --csv-separator=&apos;{{delimiter}}&apos; {{#enclosure}}--csv-enclosure=&apos;{{enclosure}}&apos;{{/enclosure}}'/>
