//{{delimiter}}Father {{delimiter}}Title{{delimiter}}Id{{delimiter}}Classe{{delimiter}}Logical Name{{delimiter}}
BEGIN{{delimiter}}{{# parent}}{{{parent}}}{{/ parent}}{{delimiter}}{{delimiter}}{{delimiter}}{{delimiter}}{{{name}}}{{delimiter}}
CLASS{{delimiter}}{{{namespace}}}\{{{name}}}{{delimiter}}
//{{delimiter}}idattr{{delimiter}}idframe{{delimiter}}label{{delimiter}}T{{delimiter}}A{{delimiter}}type{{delimiter}}ord{{delimiter}}vis{{delimiter}}need{{delimiter}}link{{delimiter}}phpfile{{delimiter}}phpfunc{{delimiter}}elink {{delimiter}}constraint {{delimiter}}option{{delimiter}}Commentaires{{delimiter}}

END{{delimiter}}