<?php

namespace {{{namespace}}};

use \Dcp\AttributeIdentifiers\{{{name}}} as {{{name}}}_Attributes;

Class {{{name}}} extends {{# parent}}\Dcp\Family\{{{parent}}}{{/ parent}}{{^ parent}}\Dcp\Family\Document{{/ parent}} {



}