<process command='./wsh.php --api=importDocuments --file=./{{{output}}}/{{{name}}}__STRUCT.csv --csv-separator=&apos;;&apos; --csv-enclosure=&apos;"&apos;'/>
<process command='./wsh.php --api=importDocuments --file=./{{{output}}}/{{{name}}}__PARAM.csv --csv-separator=&apos;;&apos; --csv-enclosure=&apos;"&apos;'/>
