//FAM;dossier(DIR);<specid>;<fldid>;titre;
ORDER;DIR;;;ba_title;
DOC;DIR;{{{dfldid}}};;{{{dfldid}}};
;;;;;
//;Father ;Title;Id;Classe;Logical Name
BEGIN;;{{{title}}};;;{{{name}}}
ICON;{{{icon}}};;;;
DFLDID;{{{dfldid}}};;;;
END;;;;;
