<?php

namespace {{{namespace}}};

use \Dcp\AttributeIdentifiers\{{{name}}} as MyAttributes;

Class {{{name}}} extends {{# parent}}\Dcp\Family\{{{parent}}}{{/ parent}}{{^ parent}}\Dcp\Family\Document{{/ parent}} {
{



}