//FAM{{delimiter}}dossier(DIR){{delimiter}}<specid>{{delimiter}}<fldid>{{delimiter}}titre{{delimiter}}
ORDER{{delimiter}}DIR{{delimiter}}{{delimiter}}{{delimiter}}ba_title{{delimiter}}
DOC{{delimiter}}DIR{{delimiter}}{{{dfldid}}}{{delimiter}}{{delimiter}}{{{dfldid}}}{{delimiter}}
{{delimiter}}{{delimiter}}{{delimiter}}{{delimiter}}{{delimiter}}
//{{delimiter}}Father{{delimiter}}Title{{delimiter}}Id{{delimiter}}Classe{{delimiter}}Logical Name{{delimiter}}
BEGIN{{delimiter}}{{delimiter}}{{{title}}}{{delimiter}}{{delimiter}}{{delimiter}}{{{name}}}{{delimiter}}
ICON{{delimiter}}{{{icon}}}{{delimiter}}{{delimiter}}{{delimiter}}{{delimiter}}
DFLDID{{delimiter}}{{{dfldid}}}{{delimiter}}{{delimiter}}{{delimiter}}{{delimiter}}
END{{delimiter}}{{delimiter}}{{delimiter}}{{delimiter}}{{delimiter}}
