<?xml version="1.0" ?>
<module xmlns="urn:dynacase:webinst:module/1.0" name="@moduleName@" release="@release@" version="@version@">
    <description>{{description}}</description>

    <requires>
        <module comp="ge" name="dynacase-core" version="3.2"/>
    </requires>

    <post-install>
        {{# list_application}}
        <process command="programs/record_application {{.}}"/>
        {{/ list_application}}
        <process command="programs/update_catalog"/>
    </post-install>
    <post-upgrade>
        {{# list_application}}
        <process command="programs/pre_migration {{.}}"/>
        <process command="programs/record_application {{.}}"/>
        <process command="programs/post_migration {{.}}"/>
        {{/ list_application}}
        <process command="programs/update_catalog"/>
    </post-upgrade>
</module>
