<?xml version="1.0" ?>
<module disabled="no" name="{{name}}" release="@release@" version="@version@">
    <description>{{description}}</description>

    <requires>
        <module comp="ge" name="dynacase-core" version="3.2"/>
    </requires>

    <post-install>
        {{# listApplication}}
        <process command="programs/record_application {{.}}"/>
        {{/listApplication}}
        <process command="programs/update_catalog"/>
    </post-install>
    <post-upgrade>
        {{# listApplication}}
        <process command="programs/pre_migration {{.}}"/>
        <process command="programs/record_application {{.}}"/>
        <process command="programs/post_migration {{.}}"/>
        {{/listApplication}}
        <process command="programs/update_catalog"/>
    </post-upgrade>
</module>
