<?php

{{# oldCommentStypeLabel}}
    $i18nOldCommentStyle = _("{{{.}}}");
{{/ oldCommentStypeLabel}}

{{# searchLabel}}
    $i18nSearchLabel = _("{{{.}}}");
{{/ searchLabel}}

{{# stateLabel}}
    $i18nStateLabel = _("{{{.}}}");
{{/ stateLabel}}

{{# transitionLabel}}
    $i18nTransitionLabel = _("{{{.}}}");
{{/ transitionLabel}}

{{# activityLabel}}
    $i18nActivityLabel = _("{{{.}}}");
{{/ activityLabel}}