<?php

{{# sharpLabels}}
//_COMMENT: {{# class}}{{{.}}} ({{{file}}}){{/ class}}{{^ class}}{{{file}}}{{/ class}}
$i18nOldCommentStyle = _("{{{key}}}");
{{/ sharpLabels}}

{{# searchLabels}}
//_COMMENT: {{# class}}{{{.}}} ({{{file}}}){{/ class}}{{^ class}}{{{file}}}{{/ class}}
//_COMMENT: searchLabel key
//_COMMENT: types: {{{types}}}
$i18nSearchLabel = _("{{{key}}}");
{{/ searchLabels}}

{{# workflowLabels}}
//_COMMENT: {{# class}}{{{.}}} ({{{file}}}){{/ class}}{{^ class}}{{{file}}}{{/ class}}
//_COMMENT: workflow key
//_COMMENT: constant name: {{{constName}}}
$i18nWorkflowLabels = _("{{{key}}}");
{{/ workflowLabels}}