//{{delimiter}}fromid{{delimiter}}title{{delimiter}}special id{{delimiter}}classname{{delimiter}}name{{delimiter}}
BEGIN{{delimiter}}{{# parent}}{{{parent}}}{{/ parent}}{{^parent}}WDOC{{/ parent}}{{delimiter}}{{{title}}}{{delimiter}}{{delimiter}}--{{delimiter}}{{{name}}}__WFL{{delimiter}}
USEFOR{{delimiter}}SW{{delimiter}}
CLASS{{delimiter}}{{{namespace}}}\{{{name}}}__WFL{{delimiter}}
//{{delimiter}}idattr{{delimiter}}idframe{{delimiter}}label{{delimiter}}T{{delimiter}}A{{delimiter}}type{{delimiter}}ord{{delimiter}}vis{{delimiter}}needed{{delimiter}}link{{delimiter}}phpfile{{delimiter}}phpfunc{{delimiter}}elink{{delimiter}}constraint{{delimiter}}option{{delimiter}}

END{{delimiter}}
