<?php

namespace {{{namespace}}};

class {{{className}}}__WFL extends {{{parentFQN}}}
{
    public $attrPrefix = 'FIXME'; //FIXME: set attrPrefix
    public $firstState = 'FIXME'; //FIXME: set FirstState

    //region States
    const e_E1 = 'FIXME'; //FIXME: set E1
    //endregion

    //region Transitions
    const t_E1__E2 = 'FIXME'; //FIXME: set T1
    //endregion

    public $stateactivity = array(//FIXME: set stateactivity
    );

    public $transitions = array(//FIXME: set transitions
    );

    public $cycle = array(//FIXME: set cycle
    );

}