//;fromid;title;special id;classname;name;;;;;;;;;;
BEGIN;{{# parent}}{{{parent}}}{{/ parent}}{{^parent}}WDOC{{/ parent}};{{{title}}};;--;{{{name}}};;;;;;;;;;
USEFOR;SW;;;;;;;;;;;;;;
CLASS;{{{namespace}}}\{{{name}}};;;;;;;;;;;;;;
//;idattr;idframe;label;T;A;type;ord;vis;needed;link;phpfile;phpfunc;elink;constraint;option
;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;
END;;;;;;;;;;;;;;;
